.booksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.booksInfo {
  text-align: left;
}

.booksComplete {
  display: flex;
}

.Oval2 {
  width: 4.25rem;
  height: 4.25rem;
  color: #307bbe;
}
