.formContainer {
  text-align: left;
  margin-top: 20px;
  width: 90vw;
}

.formContainer h3 {
  margin-top: 20px;
}

.formContainer form {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.formFields,
.submitButton {
  flex: 1;
}

.formFields {
  padding-left: 10px;
}

.formFields:first-child {
  flex: 2;
}

.submitButton {
  flex: 0.5;
}
