.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97vw;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLinks {
  color: white;
}
