* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

#outlet {
  margin-top: 86px;
}

@media only screen and (max-width: 660px) {
  #outlet {
    margin-top: 260px;
  }
}
